doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    .container
      h1= title
      .about-content
        p This is a simple to-do list application built with Express.js and Pug.
        p It's a demonstration of basic routing, form handling, and templating.
      a.cancel-link(href="/") Back to Home